.el-main {
  padding: 0!important;
}



.backgroundCode {

  height: 90vh;
}

.backgroundCode_a {
  background-color: #f5f5f5;
  display: i nline-block;
}

.backgroundCode_b {
  background-color: #fff;
}

.list_layout {
  text-align: left;
  padding: 4rem;
  /* padding-top: 4rem; */

}

.let_padding {
  padding: 5rem;
}
