.layout_f {
  margin: 3rem;
}

.layout_f li {
  line-height: 2rem;
  margin: 1.5rem;
  overflow: hidden;
}

.ys_a {
  border-bottom: 1px solid #f1ecec;
  padding: 0.5rem 0;
  border-top: 1px solid #f1ecec;
}

.src_a {
  text-align: left;

  /* border-bottom: 1px solid #ccc; */
}

.src_a p {
  text-indent: 2px;
}

.layout_f img,
.src_a {
  display: inline;
}

.layout_f ._img {
  width: 10rem;
  height: 10rem;
}

.zs_l {
  text-align: right;
}

.cd_sy li {

  padding: 1rem;
  margin-bottom: 1rem;
  color: #969696;
  border: 1px solid #eae6e6;
  letter-spacing: 0.5rem;
}

.cd_sy li:hover {
  background: #eae6e6;
  color: #000;

}

.exhibition {
  height: 7rem;
  overflow:hidden;
  padding: 1rem;
  /* border-bottom: 1px solid rgb(230, 228, 228); */
}

.exhibition p {
  margin: 0.8rem 0;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;

}

.haun {
  background-color: #ccc;
  width: 2rem;
  height: 2rem;
  position: relative;
  right: -45rem;
  text-align: center;
  line-height: 2rem;
  color: #fff;
  bottom: 0rem;

}
.haun:hover{
  background-color: #969696;
  color: #fff;
  border-radius: 1rem;
}

.intro {
  margin: 4rem 10rem;
  text-align: left;}

.intro h3 {
  margin-bottom: 1rem;
}

.intro p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7
  
}

@media (max-width: 500px) {

  .layout_f {
    margin: 1rem;
    padding-left: 0.5rem;
  }

  .layout_f li img {
    margin: 1rem 0;
  }

  h3 {
    text-align: center;

  }

  .ys_a {
    border-top: 0;
  }

  .display_ {
    display: none;
  }

  .zs_l {
    margin-bottom: 1rem;
  }
}
